body {
    background-image: url(/images/salmonrun.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {   display: table;
    margin: 0px auto 0px auto;
    padding:5px;font-size:37px;background-color: rgb(255, 14, 187);color:white;}
    h2 {   display: table;
        margin: 0px auto 0px auto;
        padding:5px;font-size:30px;background-color: rgb(255, 255, 255);color:black;}
    h3 {   display: table;
        margin: 0px auto 0px auto;
        padding:5px;font-size:60px;background-color: rgb(255, 130, 14);color:white;}
p {
    display: table;
    margin: 0px auto 0px auto;
    padding:5px;font-size:27px;background-color:white;color:black;} 
* {box-sizing: border-box;}
body{ margin: 40;}