body {
    background-image: url(/images/homebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.splatlogo {
    width: 600px;
    height: auto;
    position: static;

}
h1 {   display: table;
    margin: 0px auto 0px auto;
    padding:5px;font-size:20px;background-color: rgb(255, 14, 187);color:white;}
   p {
    display: table;
    margin: 0px auto 0px auto;
    padding:5px;font-size:20px;background-color:white;color:black;}
* {box-sizing: border-box;}
body{ margin: 40;}
